<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/sedin/dc/configuration/properties/jdbc.properties" />
	<settings>
		<!-- 使全局的映射器启用或禁用缓存。 -->
		<setting name="cacheEnabled" value="false"/>
		<!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="logImpl" value="LOG4J2"/>
	</settings>
    <typeAliases>
    	<typeAlias alias="sqladapter" type="com.dzy.support.platform.persistence.provider.SQLAdapter"/> 
    </typeAliases>
	<!-- 配置分页拦截器 -->
	 <plugins>  
	 	 <plugin interceptor="com.github.pagehelper.PageInterceptor">
	 	 	<property name="helperDialect" value="mysql"/>
	 	 </plugin>
    </plugins>
	<!-- 配置数据库服务器环境 -->
	<environments default="dzy">
		<environment id="dzy">
            <transactionManager type="JDBC" />
            <dataSource type="com.dzy.support.platform.persistence.util.DruidDataSourceFactory">
           		 <property name="driver" value="${jdbc.driver}"/>
            	 <property name="url" value="${jdbc.url}" />  
			     <property name="username" value="${jdbc.username}" />  
			     <property name="password" value="${jdbc.password}" />  
			     <property name="filters" value="${jdbc.filters}" />  
			     <property name="maxActive" value="${jdbc.maxActive}" />
			     <property name="initialSize" value="${jdbc.initialSize}" />
			     <property name="maxWait" value="${jdbc.maxWait}" />
			     <property name="minIdle" value="${jdbc.minIdle}" />  
			     <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
			     <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />  
			     <property name="validationQuery" value="${jdbc.validationQuery}" />  
			     <property name="testWhileIdle" value="${jdbc.testWhileIdle}" />  
			     <property name="testOnBorrow" value="${jdbc.testOnBorrow}" />  
			     <property name="testOnReturn" value="${jdbc.testOnReturn}" />  
			     <property name="maxOpenPreparedStatements" value="${jdbc.maxOpenPreparedStatements}" />
			     <property name="removeAbandoned" value="${jdbc.removeAbandoned}" />
			     <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" />
			     <!-- 关闭abanded连接时输出错误日志 -->   
			     <property name="logAbandoned" value="${jdbc.logAbandoned}" />
            </dataSource>
        </environment>    
    </environments>
    
	<!-- 配置映射文件 -->
	<mappers>
		<!-- 基础mapper -->
		<mapper resource="com/dzy/support/platform/persistence/sqlmapping/BaseMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcDirectoryMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcFileHistoryMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcFileMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcObjectAuthMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcObjectMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcObjectRoleMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcOperationLogMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcRecoveryStationMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcRoleAuthMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcRoleUserMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcUserMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DcZoneMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DictionaryTypeMapper.xml" />
		<mapper resource="com/sedin/dc/configuration/mapper/DictionaryValueMapper.xml" />
	</mappers>
</configuration>